* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.navbar {
    background-color: #28A745 !important;
}

.card-body {
    border: 1px solid rgba(0, 0, 0, 0.15);
    /* borde con color y grosor */
    border-radius: 0.25rem;
    /* redondeo de bordes */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    /* sombra */
    margin-bottom: 20px;
    /* margen inferior (espacio en blanco) por cada card */
}

.card-img-top {
    height: 278px;
    width: 180px;
}

.card-title {
    font-size: 20px;
    font-weight: 300;
    color: #212529;
}

.card-text-1 {
    margin-bottom: 0;
    font-weight: 300;
    color: #707070;
}

#adress {
    font-size: 13px;
    font-weight: 300;
    color: #707070;
}

#prices {
    text-align: right;
    font-weight: 300;
    color: #707070;
}

.price2 {
    font-size: 20px;
    color: #28A745;
    font-weight: 500;
}

.form-body {
    margin-top: 15px;
    /* espacio para separar el section-formulario del section-cards */
    height: 260px;
    width: 100%;
    background-color: #28A745;
    color: #707070;
    padding: 20px;
    /* espacio adicional sobre el titulo h1 */
}

h3 {
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
}

.footer-home {
    padding: 30px;
    text-align: center;
}

.credits {
    text-align: center;
    color: #707070;
    font-size: 16px;
    font-weight: 300;
    margin-top: 25px;
}